/* Imports */
@import url('https://fonts.googleapis.com/css?family=Poppins|Poppins:bold');

/* Container */
.container {
    text-align: center;
    margin: 0;
}

/* Card */
.card {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 40em;
    height: 20em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    z-index: 10;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
}

/* Card Behind */
.cardBehind {
    position: absolute;
    top: 42.5%;
    left: 46%;
    width: 42.625em;
    height: 24em;
    background: #2A2A2A 0% 0% no-repeat padding-box;
    border-radius: 0.1875em;
    opacity: 1;
}

/* Form */
.formGroup {
    text-align: left;
    width: 500px;
    margin: 2em auto;
}

/* Submit Button */
.submit {
    margin: auto;
    display: block;
    width: 90%;
    font-family: Poppins;
    background: #4E87D4;
    color: #FFFFFF;
    padding: 1em;
    transition: .3s ease-in-out 0s;
}

.submit:hover {
    transform: scale(1.1);
}

/* Primary Text */
.text {
    width: 8em;
    height: auto;
    margin-left: 2em;
    margin-top: 0.5em;
    font: normal normal bold 80px/110px Poppins;
    text-align: left;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
}

.text::after {
    content: '';
    display: inline-block;
    border: 4px solid #2A2A2A;
    margin-left: .2em;
    margin-bottom: .2em;
    width: 2.5em;
}

/* Logo */
.logo {
    width: 14em;
    height: auto;
    float: left;
    margin-left: 10em;
    margin-top: 3em;
    box-sizing: border-box;
}

/* Navigation */
.navigation {
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.navigation ul{
    display: flex;
    float: right;
    list-style-type: none;
}

.navigation ul li {
    color: #2A2A2A;
    padding-right: 1em;
    font: normal normal normal 20px/30px Poppins;
}

.navigation ul li a{
    text-decoration: none;
    color: #2A2A2A;
}

/* Backgroud Texture */
.backgroundTexture {
    position: absolute;
    top: 35em;
    left: -20em;
    width: 143em;
    height: 80.2em;
    transform: matrix(0.98, 0.15, -0.15, 0.98, 0, 0);
    background: transparent url('../PlusPattern.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

/* Border Box */
.borderBox {
    position: absolute;
    top: 30%;
    left: 49.9%;
    width: 38em;
    height: 20em;
    display: inline-block;
    border: 5px solid #2A2A2A;
    padding: 1em;
    z-index: 9;
    border-color: #2A2A2A #2A2A2A #2A2A2A transparent;
    border-radius: 0.3em;
}

html, body {
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

body {
    font-family: Poppins;
    background: linear-gradient(90deg, #C8D4E4 50%, #F1F1F1 50%) no-repeat fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

div {
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

input[type=text] {
    font-family: 'Poppins';
    width: 100%;
    padding: 1.2em;
    margin: 1em 0;
    border: .1em solid #2A2A2A8F;
    border-radius: .3em;
    opacity: 1;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: .1em solid #555;
}


@media only screen and (max-width: 1590px) {
    .text {
        width: 8em;
        height: auto;
        margin-left: 2em;
        margin-top: 0.5em;
        font: normal normal bold 50px/80px Poppins;
        text-align: left;
        letter-spacing: 0px;
        color: #2A2A2A;
        opacity: 1;
    }
    
    .text::after {
        content: '';
        display: inline-block;
        border: 4px solid #2A2A2A;
        margin-left: .2em;
        margin-bottom: .2em;
        width: 2.5em;
    }

    .logo {
        width: 14em;
        height: auto;
        float: left;
        margin-left: 6.2em;
        margin-top: 3em;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 600px) {

    .card {
        width: 100%;
        height: 20em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        z-index: 10;
        padding: 0em 1em 6em 1em;
        margin-left: -15em;
    }
    
    .cardBehind {
        opacity: 0;
    }

    .text {
        width: 8em;
        height: auto;
        margin-left: 2em;
        margin-top: 0.5em;
        font: normal normal bold 30px/60px Poppins;
        text-align: left;
        letter-spacing: 0px;
        color: #2A2A2A;
        opacity: 1;
    }
    
    .text::after {
        content: '';
        display: inline-block;
        border: 2px solid #2A2A2A;
        margin-left: .2em;
        margin-bottom: .2em;
        width: 2.5em;
    }

    .logo {
        width: 10em;
        height: auto;
        float: left;
        margin-left: 3em;
        margin-top: 3em;
        box-sizing: border-box;
    }

    .backgroundTexture {
        opacity: 0;
    }

    .borderBox {
        opacity: 0;
    }
    
    body {
        font-family: Poppins;
        background: linear-gradient(#C8D4E4 50%, #F1F1F1 50%) no-repeat fixed;
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        -webkit-overflow-scrolling: hidden;
    }
}
